In [2]:
%%capture
%load_ext sql
%sql sqlite:///Jobs.db

In [3]:
#Question
#Say we wanted to get the Majors in which the unemployment rate is..
#..greater than the average rate of unemployment.

In [8]:
#Solution method 1 ; takes two steps. First step is to get the AVG

In [7]:
%%sql
SELECT AVG(Unemployment_rate)
FROM recent_grads;

 * sqlite:///Jobs.db
Done.

[(0.06858728923255816,)]

In [9]:
%%sql
SELECT Major, Unemployment_rate
FROM recent_grads
WHERE Unemployment_rate > 0.06858728923255816
LIMIT 10;

 * sqlite:///Jobs.db
Done.

[('MINING AND MINERAL ENGINEERING', 0.117241379),
 ('NUCLEAR ENGINEERING', 0.177226407),
 ('ACTUARIAL SCIENCE', 0.095652174),
 ('BIOMEDICAL ENGINEERING', 0.09208386),
 ('BIOLOGICAL ENGINEERING', 0.087143069),
 ('FOOD SCIENCE', 0.09693146),
 ('ELECTRICAL ENGINEERING TECHNOLOGY', 0.087557114),
 ('CIVIL ENGINEERING', 0.07060957400000001),
 ('MISCELLANEOUS ENGINEERING', 0.074392523),
 ('PUBLIC POLICY', 0.128426299)]

In [1]:
# Method 2 using Subqueries
# This will involve embedding the first query into the second query

In [3]:
%%sql
SELECT Major, Unemployment_rate
FROM recent_grads
WHERE Unemployment_rate > (
    SELECT AVG(Unemployment_rate)
    FROM recent_grads
)
LIMIT 10;

 * sqlite:///Jobs.db
Done.

[('MINING AND MINERAL ENGINEERING', 0.117241379),
 ('NUCLEAR ENGINEERING', 0.177226407),
 ('ACTUARIAL SCIENCE', 0.095652174),
 ('BIOMEDICAL ENGINEERING', 0.09208386),
 ('BIOLOGICAL ENGINEERING', 0.087143069),
 ('FOOD SCIENCE', 0.09693146),
 ('ELECTRICAL ENGINEERING TECHNOLOGY', 0.087557114),
 ('CIVIL ENGINEERING', 0.07060957400000001),
 ('MISCELLANEOUS ENGINEERING', 0.074392523),
 ('PUBLIC POLICY', 0.128426299)]

In [ ]:
# We could want to understand the proportion of majors
# whose ShareWomen is above average.

In [5]:
%%sql
SELECT AVG(ShareWomen) AS average
FROM recent_grads;

 * sqlite:///Jobs.db
Done.

[(0.5225502029537575,)]

In [8]:
%%sql
SELECT COUNT(Major) AS sum
FROM recent_grads
WHERE ShareWomen > (
    SELECT AVG(ShareWomen) AS average
FROM recent_grads
);

 * sqlite:///Jobs.db
Done.

[(91,)]

In [9]:
%%sql
SELECT COUNT(Major)
FROM recent_grads;

 * sqlite:///Jobs.db
Done.

[(173,)]

In [10]:
# To divide the sum of majors above average by the total majors to get the proportion

In [14]:
%%sql
SELECT CAST(COUNT(Major)AS Float) / (
    SELECT COUNT(Major)
    FROM recent_grads
) AS proportion
FROM recent_grads
WHERE ShareWomen > (
    SELECT AVG(ShareWomen) AS average
FROM recent_grads
);

 * sqlite:///Jobs.db
Done.

[(0.5260115606936416,)]

In [15]:
# IN operator

In [17]:
%%sql
SELECT Major, Major_category
FROM recent_grads
WHERE Major_category IN ("Engineering", "Business")
LIMIT 10;

 * sqlite:///Jobs.db
Done.

[('PETROLEUM ENGINEERING', 'Engineering'),
 ('MINING AND MINERAL ENGINEERING', 'Engineering'),
 ('METALLURGICAL ENGINEERING', 'Engineering'),
 ('NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering'),
 ('CHEMICAL ENGINEERING', 'Engineering'),
 ('NUCLEAR ENGINEERING', 'Engineering'),
 ('ACTUARIAL SCIENCE', 'Business'),
 ('MECHANICAL ENGINEERING', 'Engineering'),
 ('ELECTRICAL ENGINEERING', 'Engineering'),
 ('COMPUTER ENGINEERING', 'Engineering')]

In [20]:
l = [6, 2, 3, 9, 3, 4]
print(l.index(3))

2