# Factbook Exercise
* The factbook.db database contains some facts about the countries of the world.
* It contains only one table called facts.
* Use this database to answer the following question.

In [1]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

* **Which is the most populated country?**

* **Which is the least populated country?**

* **What's the world's total population (in billions)?**

* **Top 5 countries with the highest population growth?**

* **Top 5 countries with the population_growth higher than average growth?**

* **Which countries have the highest population density?**

In [3]:
%%sql
SELECT *
FROM facts
LIMIT 5;

 * sqlite:///factbook.db
Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

In [2]:
# Which is the most populated country?

In [11]:
%%sql 
SELECT name, population
FROM facts
ORDER BY "population" DESC
LIMIT 2;

 * sqlite:///factbook.db
Done.

[('World', 7256490011), ('China', 1367485388)]

In [12]:
# Which is the least populated country?

In [18]:
%%sql 
SELECT  name, population
FROM facts
ORDER BY "population"
LIMIT 21;

 * sqlite:///factbook.db
Done.

[('Ashmore and Cartier Islands', None),
 ('Coral Sea Islands', None),
 ('Heard Island and McDonald Islands', None),
 ('Clipperton Island', None),
 ('French Southern and Antarctic Lands', None),
 ('Bouvet Island', None),
 ('Jan Mayen', None),
 ('British Indian Ocean Territory', None),
 ('South Georgia and South Sandwich Islands', None),
 ('Navassa Island', None),
 ('Wake Island', None),
 ('United States Pacific Island Wildlife Refuges', None),
 ('Paracel Islands', None),
 ('Spratly Islands', None),
 ('Arctic Ocean', None),
 ('Atlantic Ocean', None),
 ('Indian Ocean', None),
 ('Pacific Ocean', None),
 ('Southern Ocean', None),
 ('Antarctica', 0),
 ('Pitcairn Islands', 48)]

In [19]:
# What's the world's total population (in billions)?

In [23]:
%%sql 
SELECT CAST(MAX(population) AS float) / 1000000000 AS world_pop
FROM facts;

 * sqlite:///factbook.db
Done.

[(7.256490011,)]

In [24]:
#Top 5 countries with the highest population growth?

In [25]:
%%sql 
SELECT name, population_growth
FROM facts
ORDER BY "population_growth" DESC
LIMIT 5;

 * sqlite:///factbook.db
Done.

[('South Sudan', 4.02),
 ('Malawi', 3.32),
 ('Burundi', 3.28),
 ('Niger', 3.25),
 ('Uganda', 3.24)]

In [26]:
# Top 5 countries with the population_growth higher than average growth?

In [28]:
%%sql 
SELECT AVG(population_growth) AS avg_pop
FROM facts

 * sqlite:///factbook.db
Done.

[(1.2009745762711865,)]

In [30]:
%%sql 
SELECT name, population_growth
FROM facts
WHERE population_growth > (
    SELECT AVG(population_growth) AS avg_pop
    FROM facts
)
ORDER BY population_growth DESC
LIMIT 5;

 * sqlite:///factbook.db
Done.

[('South Sudan', 4.02),
 ('Malawi', 3.32),
 ('Burundi', 3.28),
 ('Niger', 3.25),
 ('Uganda', 3.24)]

In [31]:
# Which countries have the highest population density?
# population density = total population / 1000km2
#                    = population / area

In [33]:
%%sql 
SELECT name, population / area AS pop_density
FROM facts
ORDER BY pop_density DESC
LIMIT 5;

 * sqlite:///factbook.db
Done.

[('Macau', 21168),
 ('Monaco', 15267),
 ('Singapore', 8141),
 ('Hong Kong', 6445),
 ('Gaza Strip', 5191)]